body {
font-family: 'Times New Roman', Times, serif
text-align: left;
}
h1{
  background-color:#F2F2F2;  
}

ul{
  background-color: #F2F2F2;
}

.btns{
  
  display: flex;
  flex-direction: column;
}

button{
  
  padding: 12px;
 border-radius: 10px;
  background-color: #20a8b4;
  color: white
  
  
  
}
button{
  
  border: #20a8b4;
  text-align: left;
}

button:hover {
  background-color: #20a8b4 ;
  background-color: #ff5c0f;
}
h3{
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  body{
    font-size: 140%;
  }

  
  .side-by-side-containere{
    display: flex;
  }
  @media screen and (min-width: 768px) {
    ul {
      display: flex;
      justify-content: space-around;
    }
    
    li {
      width: auto;
    }
   
        


}